@media screen and (min-width: 650px) {
  .overview {
    flex-direction: row;
    align-items: flex-start;
    font-size: 1.5em;
    padding-top: 2%;
    margin-bottom: 7%;
  }

  .trips {
    @include set-size(100%, 100%);
    display: grid;
    grid-template-columns: repeat(2, 40%);
    column-gap: 3%;
    row-gap: 3%;
    justify-content: center;
    margin-right: 2%;
  }

  .trip-list {
    @include set-size(92%, 100%);
    justify-content: flex-start;
    font-size: 1em; 
  }

  select {
    width: 40%;
  }

  .price {
    padding-top: 1%;
  }
  
}

@media screen and (min-width: 1000px) {
  .top-row {
    margin-top: 5%;
    margin-bottom: 0;
    height: 10%;
  }

  .welcome {
    margin-top: 0;
    padding-top: 0;
    font-size: 2.8em;
    height: 10%
  }

  .overview {
    font-size: 2em;
    // margin-bottom: 10%;
  }

  .trips {
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: none;
    padding-top: 5%;
  }

  .trip-list {
    // @include set-size(100%, 90%);
    justify-content: flex-start;
    font-size: 1em;
    width: 100%;
    
  }

  .form-heading {
    margin-top: -4%;
  }

  select {
    width: 37%;
  }
}