$secondary-font: 'Rock Salt', cursive;
$primary-font: 'Questrial', sans-serif;
$secondary-color: white;
$primary-font-color:#043144;
$accent-color: #2f9074;
// $background-color: #f3ebe8;
$light-opacity: rgba(255,255,255, 0.4);
$heavy-opacity: rgba(255,255,255, 0.8);
